In [ ]:
import pandas as pd

In [ ]:
customers=pd.read_csv("/content/customers.csv")
order_items=pd.read_csv("/content/order_items.csv")
orders=pd.read_csv("/content/orders.csv")
products=pd.read_csv("/content/products.csv")
returns=pd.read_csv("/content/returns.csv")

In [ ]:
print(customers)
print(order_items)
print(orders)
print(products)
print(returns)

     customer_id           name  gender  age       city signup_date
0         C00001     Customer_1    Male   21    Kolkata  2023-04-15
1         C00002     Customer_2  Female   24    Kolkata  2023-08-28
2         C00003     Customer_3    Male   52    Kolkata  2023-04-12
3         C00004     Customer_4    Male   26     Mumbai  2024-04-30
4         C00005     Customer_5    Male   25     Mumbai  2023-03-30
...          ...            ...     ...  ...        ...         ...
4995      C04996  Customer_4996    Male   30    Chennai  2022-11-30
4996      C04997  Customer_4997  Female   18  Bangalore  2024-04-30
4997      C04998  Customer_4998    Male   37     Mumbai  2024-02-02
4998      C04999  Customer_4999  Female   25    Kolkata  2022-05-13
4999      C05000  Customer_5000  Female   27  Bangalore  2023-09-04

[5000 rows x 6 columns]
      order_item_id order_id product_id  quantity
0         OI0000001  O038582      P0380         2
1         OI0000002  O003556      P0069         3
2         OI0000003  O039548      P0105         4
3         OI0000004  O018741      P0457         1
4         OI0000005  O008627      P0262         3
...             ...      ...        ...       ...
99995     OI0099996  O016346      P0054         2
99996     OI0099997  O007568      P0047         3
99997     OI0099998  O036482      P0114         4
99998     OI0099999  O026348      P0152         3
99999     OI0100000  O004483      P0341         4

[100000 rows x 4 columns]
      order_id customer_id  order_date      payment_mode
0      O000001      C02729  2024-03-20        Debit Card
1      O000002      C00916  2023-04-04       Credit Card
2      O000003      C04939  2023-11-15               UPI
3      O000004      C00132  2023-11-13       Credit Card
4      O000005      C01117  2023-10-20       Net Banking
...        ...         ...         ...               ...
49995  O049996      C01343  2024-11-26       Credit Card
49996  O049997      C04575  2023-12-17  Cash on Delivery
49997  O049998      C02440  2024-05-17  Cash on Delivery
49998  O049999      C03191  2024-10-01       Credit Card
49999  O050000      C03141  2024-07-26        Debit Card

[50000 rows x 4 columns]
    product_id product_name        category  price  cost
0        P0001    Product_1          Beauty   2866  1714
1        P0002    Product_2        Clothing    749   400
2        P0003    Product_3           Books   4941  1322
3        P0004    Product_4          Beauty   4182  1782
4        P0005    Product_5     Electronics   1444   587
..         ...          ...             ...    ...   ...
495      P0496  Product_496        Clothing   3338  2465
496      P0497  Product_497  Home & Kitchen   3312  1007
497      P0498  Product_498  Home & Kitchen    298  2945
498      P0499  Product_499           Books   4125  3138
499      P0500  Product_500  Home & Kitchen   1679   954

[500 rows x 5 columns]
     order_id  return_reason
0     O000602     Wrong Item
1     O015288  Late Delivery
2     O047141   Not Required
3     O001717     Wrong Item
4     O010349     Wrong Item
...       ...            ...
4995  O035948     Wrong Item
4996  O047163  Late Delivery
4997  O030645     Wrong Item
4998  O043801   Not Required
4999  O018619  Late Delivery

[5000 rows x 2 columns]

In [ ]:
customers.shape

(5000, 6)

In [ ]:
order_items.shape

(100000, 4)

In [ ]:
orders.shape

(50000, 4)

In [ ]:
products.shape

(500, 5)

In [ ]:
returns.shape

(5000, 2)

In [ ]:
customers.head(10)

  customer_id         name  gender  age       city signup_date
0      C00001   Customer_1    Male   21    Kolkata  2023-04-15
1      C00002   Customer_2  Female   24    Kolkata  2023-08-28
2      C00003   Customer_3    Male   52    Kolkata  2023-04-12
3      C00004   Customer_4    Male   26     Mumbai  2024-04-30
4      C00005   Customer_5    Male   25     Mumbai  2023-03-30
5      C00006   Customer_6  Female   34  Bangalore  2023-08-18
6      C00007   Customer_7    Male   34      Delhi  2022-11-29
7      C00008   Customer_8    Male   50    Kolkata  2023-05-22
8      C00009   Customer_9    Male   49    Kolkata  2024-03-04
9      C00010  Customer_10  Female   25    Kolkata  2023-04-15

In [ ]:
order_items.head(10)

  order_item_id order_id product_id  quantity
0     OI0000001  O038582      P0380         2
1     OI0000002  O003556      P0069         3
2     OI0000003  O039548      P0105         4
3     OI0000004  O018741      P0457         1
4     OI0000005  O008627      P0262         3
5     OI0000006  O038429      P0075         2
6     OI0000007  O025662      P0424         2
7     OI0000008  O037509      P0191         1
8     OI0000009  O038195      P0272         2
9     OI0000010  O002365      P0426         2

In [ ]:
orders.head(10)

  order_id customer_id  order_date      payment_mode
0  O000001      C02729  2024-03-20        Debit Card
1  O000002      C00916  2023-04-04       Credit Card
2  O000003      C04939  2023-11-15               UPI
3  O000004      C00132  2023-11-13       Credit Card
4  O000005      C01117  2023-10-20       Net Banking
5  O000006      C03594  2024-05-30       Net Banking
6  O000007      C00861  2023-02-25               UPI
7  O000008      C00294  2024-07-08  Cash on Delivery
8  O000009      C02689  2023-10-04  Cash on Delivery
9  O000010      C01000  2024-07-23       Net Banking

In [ ]:
products.head(10)

  product_id product_name     category  price  cost
0      P0001    Product_1       Beauty   2866  1714
1      P0002    Product_2     Clothing    749   400
2      P0003    Product_3        Books   4941  1322
3      P0004    Product_4       Beauty   4182  1782
4      P0005    Product_5  Electronics   1444   587
5      P0006    Product_6        Books   4086  3277
6      P0007    Product_7       Beauty   4212  1524
7      P0008    Product_8  Electronics   2749  3876
8      P0009    Product_9       Beauty   3404  1104
9      P0010   Product_10     Clothing   1045   576

In [ ]:
returns.head(10)

  order_id  return_reason
0  O000602     Wrong Item
1  O015288  Late Delivery
2  O047141   Not Required
3  O001717     Wrong Item
4  O010349     Wrong Item
5  O006387     Wrong Item
6  O005909        Damaged
7  O013580     Wrong Item
8  O038818     Wrong Item
9  O041033        Damaged

In [ ]:
customers.columns

Index(['customer_id', 'name', 'gender', 'age', 'city', 'signup_date'], dtype='object')

In [ ]:
order_items.columns

Index(['order_item_id', 'order_id', 'product_id', 'quantity'], dtype='object')

In [ ]:
orders.columns

Index(['order_id', 'customer_id', 'order_date', 'payment_mode'], dtype='object')

In [ ]:
products.columns

Index(['product_id', 'product_name', 'category', 'price', 'cost'], dtype='object')

In [ ]:
returns.columns

Index(['order_id', 'return_reason'], dtype='object')

In [ ]:
customers.isnull().sum()

customer_id      0
name             0
gender           0
age            0.0
city             0
signup_date      0
dtype: object

In [ ]:
order_items.isnull().sum()

order_item_id    0
order_id         0
product_id       0
quantity         0
dtype: int64

In [ ]:
orders.isnull().sum()

order_id        0
customer_id     0
order_date      0
payment_mode    0
dtype: int64

In [ ]:
products.isnull().sum()

product_id      0
product_name    0
category        0
price           0
cost            0
dtype: int64

In [ ]:
returns.isnull().sum()

order_id         0
return_reason    0
dtype: int64

In [ ]:
customers.duplicated().sum()

np.int64(0)

In [ ]:
order_items.duplicated().sum()

np.int64(0)

In [ ]:
orders.duplicated().sum()

np.int64(0)

In [ ]:
products.duplicated().sum()

np.int64(0)

In [ ]:
returns.duplicated().sum()

In [ ]:
master_df = order_items.merge(orders, on='order_id', how='left')
master_df = master_df.merge(products, on='product_id', how='left')
master_df = master_df.merge(customers, on='customer_id', how='left')
print("Master table shape:", master_df.shape)
print(master_df.head())

Master table shape: (100000, 16)
  order_item_id order_id product_id  quantity customer_id  order_date  \
0     OI0000001  O038582      P0380         2      C01808  2024-11-02
1     OI0000002  O003556      P0069         3      C01880  2024-08-06
2     OI0000003  O039548      P0105         4      C01502  2023-06-27
3     OI0000004  O018741      P0457         1      C01360  2023-04-12
4     OI0000005  O008627      P0262         3      C04502  2024-08-27

       payment_mode product_name        category  price  cost           name  \
0  Cash on Delivery  Product_380           Books    595   431  Customer_1808
1               UPI   Product_69        Clothing   1129  1147  Customer_1880
2  Cash on Delivery  Product_105           Books    591  3188  Customer_1502
3               UPI  Product_457     Electronics   3128  1814  Customer_1360
4       Credit Card  Product_262  Home & Kitchen   3343   751  Customer_4502

   gender  age       city signup_date
0    Male   54    Kolkata  2022-10-31
1    Male   33  Bangalore  2023-01-05
2  Female   32    Chennai  2022-07-15
3    Male   45    Kolkata  2022-04-06
4    Male   35    Chennai  2024-04-25

In [ ]:
print(master_df)

      order_item_id order_id product_id  quantity customer_id  order_date  \
0         OI0000001  O038582      P0380         2      C01808  2024-11-02
1         OI0000002  O003556      P0069         3      C01880  2024-08-06
2         OI0000003  O039548      P0105         4      C01502  2023-06-27
3         OI0000004  O018741      P0457         1      C01360  2023-04-12
4         OI0000005  O008627      P0262         3      C04502  2024-08-27
...             ...      ...        ...       ...         ...         ...
99995     OI0099996  O016346      P0054         2      C00310  2024-12-09
99996     OI0099997  O007568      P0047         3      C03100  2024-11-20
99997     OI0099998  O036482      P0114         4      C04607  2023-06-12
99998     OI0099999  O026348      P0152         3      C01779  2023-07-19
99999     OI0100000  O004483      P0341         4      C00361  2023-01-03

           payment_mode product_name        category  price  cost  \
0      Cash on Delivery  Product_380           Books    595   431
1                   UPI   Product_69        Clothing   1129  1147
2      Cash on Delivery  Product_105           Books    591  3188
3                   UPI  Product_457     Electronics   3128  1814
4           Credit Card  Product_262  Home & Kitchen   3343   751
...                 ...          ...             ...    ...   ...
99995  Cash on Delivery   Product_54           Books   1226  3818
99996       Credit Card   Product_47        Clothing   4397  3508
99997  Cash on Delivery  Product_114     Electronics   2880   549
99998       Credit Card  Product_152     Electronics   1100  3780
99999       Net Banking  Product_341          Beauty   2695   522

                name  gender  age       city signup_date
0      Customer_1808    Male   54    Kolkata  2022-10-31
1      Customer_1880    Male   33  Bangalore  2023-01-05
2      Customer_1502  Female   32    Chennai  2022-07-15
3      Customer_1360    Male   45    Kolkata  2022-04-06
4      Customer_4502    Male   35    Chennai  2024-04-25
...              ...     ...  ...        ...         ...
99995   Customer_310  Female   20    Kolkata  2022-06-23
99996  Customer_3100    Male   41    Chennai  2022-11-20
99997  Customer_4607    Male   58  Hyderabad  2022-08-06
99998  Customer_1779  Female   25    Kolkata  2024-04-30
99999   Customer_361  Female   55  Bangalore  2022-03-24

[100000 rows x 16 columns]

In [ ]:
master_df.columns

Index(['order_item_id', 'order_id', 'product_id', 'quantity', 'customer_id',
       'order_date', 'payment_mode', 'product_name', 'category', 'price',
       'cost', 'name', 'gender', 'age', 'city', 'signup_date'],
      dtype='object')

In [ ]:
master_df["revenue"]=master_df["price"]*master_df["quantity"]

In [ ]:
print(master_df["revenue"])

0         1190
1         3387
2         2364
3         3128
4        10029
         ...
99995     2452
99996    13191
99997    11520
99998     3300
99999    10780
Name: revenue, Length: 100000, dtype: int64

In [ ]:
master_df["profit"]=((master_df["price"]-master_df["cost"])*master_df["quantity"])
print(master_df["profit"])

0          328
1          -54
2       -10388
3         1314
4         7776
         ...
99995    -5184
99996     2667
99997     9324
99998    -8040
99999     8692
Name: profit, Length: 100000, dtype: int64

In [ ]:
print(master_df[["order_id", "product_name", "quantity", "price", "revenue"]].head())

  order_id product_name  quantity  price  revenue
0  O038582  Product_380         2    595     1190
1  O003556   Product_69         3   1129     3387
2  O039548  Product_105         4    591     2364
3  O018741  Product_457         1   3128     3128
4  O008627  Product_262         3   3343    10029

In [ ]:
customer_features = master_df.groupby('customer_id').agg(
    total_revenue = ('revenue', 'sum'),
    total_orders = ('order_id', 'nunique')  
).reset_index()
customer_features['avg_order_value'] = customer_features['total_revenue'] / customer_features['total_orders']

customer_features = customer_features.merge(
    master_df[['customer_id','name','age','gender','city']].drop_duplicates(),
    on='customer_id',
    how='left'
)

top_customers = customer_features.sort_values(by='total_revenue', ascending=False).head(5)
print(top_customers)

     customer_id  total_revenue  total_orders  avg_order_value           name  \
4500      C04502         394491            14     28177.928571  Customer_4502
2200      C02201         370531            19     19501.631579  Customer_2201
3366      C03368         359076            17     21122.117647  Customer_3368
1360      C01361         341982            15     22798.800000  Customer_1361
106       C00107         338853            16     21178.312500   Customer_107

      age  gender       city
4500   35    Male    Chennai
2200   39    Male    Chennai
3366   52  Female      Delhi
1360   49  Female    Chennai
106    36  Female  Hyderabad